@font-face
  font-family 'ProximaNova'
  src url('../assets/fonts/proxima_nova/light.otf') format('opentype')
  font-style normal
  font-weight 200

@font-face
  font-family 'ProximaNova'
  src url('../assets/fonts/proxima_nova/regular.otf') format('opentype')
  font-style normal
  font-weight 300

@font-face
  font-family 'ProximaNova'
  src url('../assets/fonts/proxima_nova/bold.otf') format('opentype')
  font-style normal
  font-weight 600

@font-face
  font-family 'ProximaNova'
  src url('../assets/fonts/proxima_nova/extra_bold.otf') format('opentype')
  font-style normal
  font-weight 700

@font-face
  font-family 'ProximaNova'
  src url('../assets/fonts/proxima_nova/black.otf') format('opentype')
  font-style normal
  font-weight 800

@font-face
  font-family 'PlaylistScript'
  src url('../assets/fonts/playlist_script/regular.otf') format('opentype')
  font-style normal
  font-weight 300
